---
// import Layout
import Layout from "../layouts/Layout.astro";
// import components
import SectionFade from "../components/SectionFade";
import Skills from "../components/Skills";
---

<Layout title="About | Pei-Yi" description="About | Pei-Yi">
  <SectionFade className="py-8 lg:py-18" client:visible>
    <!-- headline -->
    <div class="mb-12">
      <h1 class="h1">My Landscape</h1>
      <h2 class="h2 opacity-70">in broadening</h2>
    </div>
    <!-- skills -->
    <Skills client:visible />
  </SectionFade>
</Layout>
