---
// import Layout
import Layout from '../layouts/Layout.astro';
// import components
import AnimatedH1 from '../components/AnimatedH1';
---

<Layout title="About | Pei-Yi" description="About | Pei-Yi">
  <section>
    <AnimatedH1 text="About me" client:visible />
    <h2 class="h2">Fueling Innovation with <b>curiosity</b>: Exploring Boundaries, Expanding Horizons.</h2>
  </section>
</Layout>../components/Animated1../components/AnimatedH1