---
import Layout from '../layouts/Layout.astro';
// import components
import AnimatedH1 from '../components/AnimatedH1';
---

<Layout title="Contact | Pei-Yi" description="Say hello to Pei-Yi">
	<section class="bg-amber-600">
		<AnimatedH1 text="Say hello" client:visible />
		<h2 class="h2">or write me an e-mail</h2>
	</section>
</Layout>
