---
import Layout from "../layouts/Layout.astro";
// import components
import SectionFade from "../components/SectionFade";
import ContactForm from "../components/ContactForm";
---

<Layout title="Contact | Pei-Yi" description="Say hello to Pei-Yi">
  <SectionFade
    className="py-8 lg:py-18 grid xl:grid-rows-1 xl:grid-cols-12 justify-center items-center"
    client:visible
  >
    <!-- wrapper 1 -->
    <div class="mb-6 xl:mb-0 xl:col-span-7 xl:row-span-1">
      <h1 class="h1">
        Say <span class="text-primary dark:text-primaryDark">hello</span> here
      </h1>

      <ContactForm client:load />

      <hr class="mt-4 mb-8 bg-note dark:bg-noteDark" />
      <button
        id="email-button"
        class="btn btn-lg text-dark bg-note dark:bg-noteDark p-8 mx-auto group"
      >
        <div class="relative">
          <a href="mailto:peiyichena@gmail.com"
            >Or write me an
            <span
              class="group-hover:font-bold translate-[font] ease duration-300"
            >
              email</span
            >
          </a>
          <span
            class="w-0 h-1 absolute left-0 right-[2.5rem] -bottom-[0.5rem] rounded-sm group-hover:w-[100%] translate-[width] ease duration-300 bg-dark dark:bg-light"
            aria-hidden="true"
          >
            &nbsp;
          </span>
        </div>
      </button>
    </div>

    <!-- wrapper 2 -->
    <div
      class="min-h-[18rem] my-5 px-5 leading-7 lg:p-8 xl:col-span-5 xl:row-span-1"
    >
      <span class="text-[0.9rem] lg:text-[1.2rem] leading-snug">
        I believe the essence of work lies in helping others. My aspiration is
        to help users to have <b
          >enjoyable and seamless interactions with applications</b
        > .<br /><br /> Combining my evolving expertise in web development with my
        experience in project management, I'm enthusiastic about collaborating on
        impactful projects and making contributions!
      </span>
    </div>
  </SectionFade>
</Layout>
