---
import Layout from '../layouts/Layout.astro';
// import components
import AnimatedH1 from '../components/AnimatedH1';
---

<Layout title="Portfolio | Pei-Yi" description='Portfolio | Pei-Yi'>
	<section class="bg-primary">
		<AnimatedH1 text="Home page" client:visible />
		<h2 class="h2">Web Development | Frontend</h2>
	</section>
</Layout>
