---
import Layout from "../layouts/Layout.astro";
// import components
import SectionFade from "../components/SectionFade";
import ProjectCards from "../components/ProjectCards";
import ProjectItems from "../components/ProjectItems";
---

<Layout title="Projects | Pei-Yi" description="Pei-Yi frontend projects">
  <SectionFade className="py-8 lg:py-18" client:visible>
    <h1 class="h1">Let's have some</h1>
    <h2 class="h2 opacity-70">my projects</h2>

    <div class="mb-10 lg:mb-0 grid grid-cols-1 gap-8">
      <ProjectCards client:load />
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <ProjectItems client:load />
    </div>
  </SectionFade>
</Layout>
