---
interface Props {
	href?: string;
  className?: string;
}
const { href, className } = Astro.props;
---

<li class={`${className} w-8`}  >
  <a  href={href} target={"_blank"} >
     <slot />  
  <a>
</li>
