---
interface Props {
	href?: string;
  className?: string;
}
const { href, className } = Astro.props;
---

<li class={`${className} w-8 mt-5 mb-10 lg:mt-0 lg:mb-0`}  >
  <a  href={href} target={"_blank"} >
     <slot />  
  </a>
</li>
