---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer"

interface Props {
	title: string;
	description: string;
}
const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-light text-dark dark:bg-dark w-full min-h-screen ">
		<header>
			<Navbar />
		</header>
		<main>
			<slot /> <!-- All the different pages to be rendered here -->
		</main>
		<Footer client:load/>
	</body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root{
  font-family: Montserrat, Georgia, 'Times New Roman', Times, sans-serif;
}
</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) return localStorage.getItem("theme");
    
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) return "dark";
    
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>